*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    /* forcing inheritance */
    box-sizing: inherit;   
}
 
html {
    font-size: 62.5%; 
}

body {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}
